body{
  background-image: url(img/background.jpg);
  background-size: cover;
}

.container{
  margin:150px auto;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3%;
  border-radius: 15px;
}

header>h2{
  color:limegreen;
  text-align: center;
  margin:10px auto;
  font-family: Verdana;
}

header img{
  width: 250px;
  margin:10px auto;
  display: block;
}

nav{
  text-align: center;
  background-color:limegreen;
  padding: 13px;
}

main>div{
  color: white;
  margin: 30px auto;
  font-family:Verdana;
  line-height: 23px;
}

.scooters{
  font-size: 23px;
  font-weight: bold;
}

.charged1{
  background-color: orange;
  width: 330px;
}

.charged2{
  background-color: green;
  width: 555px;
}

.charged3{
  background-color: red;
  width: 125px;
}

.charged1, .charged2, .charged3 {
  border-radius: 6px;
  padding: 15px;
}
